<div class="row">
  <div class="col-sm">
    <div class="alert alert-danger" role="alert">
      <div class="alert-text">
        {{ 'Some shops are linked to your Prestashop account. Delete these shops will impact your live settings.'|trans({}, 'Modules.ps_accounts') }}
      </div>
    </div>
  </div>
</div>
