<div class="row">
  <div class="col-sm">
    <div class="alert alert-warning" role="alert">
      <div class="alert-text">
        {{ 'This shop is linked to your PrestaShop account. Unlink your shop if you do not want to impact your live settings.'|trans({}, 'Modules.ps_accounts') }}
      </div>
    </div>
  </div>
</div>
