<div class="row">
  <div class="col-sm">
    <div class="alert alert-info" role="alert">
      <div class="alert-text">
        {{ 'Your shop is linked on ps_accounts, modify this url will modify it on ps_accounts link.'|trans({}, 'ps_accounts.link_update_warning') }}
      </div>
    </div>
  </div>
</div>
