# PRESTASHOP
PS_INSTALL_AUTO=1
MYSQL_ROOT_PASSWORD=admin
PS_FOLDER_ADMIN=admin-dev
PS_DOMAIN=ps-accounts.local
XDEBUG=yes
PS_VERSION=1.7
DB_SERVER=ps_account_db
DB_USER=root
DB_PASSWD=admin
PS_FOLDER_INSTALL=install-dev
PS_ERASE_DB=1
PS_DEV_MODE=1
SSO_URL=http://localhost:8080

# VUE_APP
VUE_APP_SSO_URL="${SSO_URL}"
