### Manually built zip
/dist/

### VUEJS BUILD ARTEFACT ###
app.js

### IDE ###
.idea
.vscode

### Composer ###
composer.phar
vendor/
node_modules/
.php_cs.cache
.php_cs
install.lock
composer-dev.json
composer-dev.lock
.env

### PHPUnit ###
.phpunit.result.cache

### Configuration ###
config.php
config/config*.yml
config/**/services_*.yml
!config/config.yml.dist
!config/admin/services.yml
!config/front/services.yml

### Module files ###
!views/files
views/files/*
!views/files/.gitkeep

### Vuejs ignore build files ###
/views/js/app*.js
/views/js/app*.js.map
/views/css/app*.css
/views/js/chunk-vendors*.js
/views/js/chunk-vendors*.js.map
/views/js/settings*.js
/views/js/settings*.js.map
/views/js/settingsOnBoarding*.js
/views/js/settingsOnBoarding*.js.map
/views/js/notifications*.js
/views/js/notifications*.js.map
/views/js/login*.js
/views/js/login*.js.map
/views/css/login*.css
/views/css/index.css
/views/css/chunk-vendors.css
/views/favicon.ico
/views/index.html
./_dev/.npmrc

# Log files
npm-debug.log*

# e2e ignore
.act
/e2e/allure-results
/e2e/allure-report
/e2e/test-results
/e2e/test-results-*
/e2e/allure-results-*
/e2e/screenshots
/e2e/node_modules
*/node_modules
/e2e/test/reports/*
/e2e/playwright-report
.DS_Store
/e2e/*.png
/.act

# e2e-env ignore
/e2e-env/myTun/config/mytun-credentials.json
/e2e-env/myTun/config/mytun-config.yml
php-scoper.phar

# tests ignore
tests/var/cache/
tests/phpstan/phpstan.neon
