version: "3.7"
services:
  phpunit:
    container_name: phpunit
    image: prestashop/docker-internal-images:${DOCKER_INTERNAL}
    environment:
      - PS_DOMAIN=localhost
      - PS_ENABLE_SSL=0
      - PS_DEV_MODE=0
      - XDEBUG_MODE=coverage
      - XDEBUG_ENABLED=0
    volumes:
      - ./:/var/www/html/modules/ps_accounts

