<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php"
         colors="true"
         stopOnFailure="false"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         defaultTestSuite="all"
         processIsolation="true"
>
  <testsuites>
    <testsuite name="all">
      <directory suffix="Test.php">./</directory>
      <directory suffix="Test.php">../src</directory>
    </testsuite>
    <testsuite name="unit">
      <directory suffix="Test.php">./Unit</directory>
      <directory suffix="Test.php">../src</directory>
    </testsuite>
    <testsuite name="feature">
      <directory suffix="Test.php">./Feature</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">controllers</directory>
      <directory suffix=".php">src</directory>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-text" target="php://stdout" />
  </logging>
</phpunit>
